* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.square {
  width: 40px;
  height: 40px;
  text-align: center;
}
.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendar {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  background: #61dafb;
  justify-content: flex-start;
}
/* .calendar div {
  margin: 5px;
} */

.calendar div {
  gap: 10px;
}
.calendar.smaller div {
  flex: 1 1 calc(20% - 10px);
  height: 30vh;
  border: 1px solid black;
}
.calendar.greater div {
  flex-basis: calc(20% - 10px);
  height: 30vh;
  border: 1px solid black;
}
/* .calendar div:nth-child(5n) {
  margin-right: 0;
} */
.calendar .square {
  flex: 1 1 calc(100% / 7);
  border: 1px solid black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
